.container{
  // overflow: scroll;
  // padding-left: 12px;
  // padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
  // padding-bottom: 16px;
  padding-top: 12px;
  height: 100%;
  width: 94%;
}

.header{
  font-size: 22pt;
  // font-weight: 200;
}

.about{
  font-size: 11pt;
  margin-top: 11px;
  margin-bottom: 11px;
}

.aboutcontainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.imgbox
{
  // overflow: hidden;
  // border-radius: 16px;
  aspect-ratio: 1/1;
  background-position: center;
    background-size: contain;
  background-repeat: no-repeat;
}

// image cropping
  // img{
  //   width:30px;
  // }
  // .img{
  //   height: 100%;
  //   width: 100%;
  // }

  .me{
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 12px;

  }

//

.info{
  // display: grid;
  // grid-template-columns: auto auto;
  // justify-content: center;
  display: flex;
  gap: 12px;
}

#imglinks
{

  // flex-shrink: 1;
  box-sizing: border-box;
  min-width: 30%;

}

#aboutskills{
  width: 100%;
  // bottom: 12px;
  padding-top: 30px;
  margin-left:12px ;
  // flex-grow: 1;
}

.links{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.linkcontainer{
  display: flex;
  flex-direction: row;
  width:100%;
  flex-wrap: wrap;
  flex-grow: 1;
}

.link{
  width: 40px;
  margin-left:6px ;
  transition: all 0.5s;
}

.link:hover{
  transform: scale(120%);
}



// pofficiencies
.proficon
{
  width: 100%;
}

.prof{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
}

.profname{
  font-size: small;
}

.profcontainer{
  display: flex;
  flex-wrap: wrap;
  // grid-template-columns: 16% 16% 16% 16% 16% 16%;
  gap: 19px;
  width: 40%;
  // margin:14px  ;
  margin-top: 20px;
  box-sizing: content-box;
}
.proftitle
{
  margin-top: 20px;
}
.profname
{
  text-align: center;
  // font-size: 11pt;
}

#profcon
{
  display: flex;
  flex-direction: column;
  align-items: flex-start
}
// .prof{
//   width: 60px;
// }
.ed
{
  margin-top: 20px;
}
.ed h1
{
  margin-bottom: 20px;
}

#educontainer{
  display: grid;
  grid-template-columns:50% 50% ;
  width: 100%;
}
.edu{
  display: flex;
  align-items: center;

}
.schoollogo{
  width: 100px;
  margin-right: 20px;
  border-radius: 12px;
  flex-shrink: 0;
}

.ww
{
  margin-top: 20px;
}

#workedwith{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.logoimg{
  height: 40px;
}
.workedwith{
  width: fit-content;
  margin-right:14px;
}
