.filegrid{
  // display: grid;
  // grid-template-columns: 33% 33% 33%;
  display: flex;
}

.file{
  display: flex;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  // background-image: ;
  margin: 12px;
  background-repeat: no-repeat;
  border-radius: 14px;
  background-position: center;
  // max-width: 200px;
  width: 10vw;
  min-width: 100px;
  border: solid rgba($color: grey, $alpha: .4) 1px;
  transition: all 0.5s;
  background-color: rgba(0,0,0,0.7);
}

.file h1{
  opacity: 0;
  transition: all 0.3s;
}

.file:hover{
  // filter: brightness(17%);
  // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('http://placehold.it/350x150');
  // background-repeat: no-repeat;
  // background-position: center;
  background-blend-mode: darken;
}
.file:hover h1
{
  opacity: 100%;
}
