<div class="homescreen">
  <div class="homecontent">
    <nav>
      <div class="folderGrid">
        <a routerLink="projects/designs" class="folder" (dblclick)="openwindow()"><img src="../../assets/folder_emptyc.svg" alt="" srcset=""><span class="foldertxt">designs</span></a>

        <a routerLink="projects/websites" class="folder" (dblclick)="openwindow()"><img src="../../assets/folder_emptyc.svg" alt="" srcset=""><span class="foldertxt">websites</span></a>

        <a routerLink="projects/other" class="folder" (dblclick)="openwindow()"><img src="../../assets/folder_emptyc.svg" alt="" srcset=""><span class="foldertxt">other</span></a>

        <a routerLink="me" class="folder" (dblclick)="openwindow()"><img src="../../assets/meapp.svg" alt="" srcset=""><span class="foldertxt">about me</span></a>
        <!-- note to self change the folders to the full folders later -->
      </div>
    </nav>
    <!-- <img src="../../assets/folder_emptyc.svg" alt="" srcset="" class="fuck"> -->
    <!-- <window *ngFor="let window of windows"
    [type]="window.type"
    [posx]="window.x"
    [posy]="window.y"
    [width]="window.w"
    [height]="window.h"
    [id]="window.id"></window> -->
    <!-- <window *ngIf="window==true"></window> -->
    <div id="windowcontainer" *ngIf="window ==true">
      <div class="windowframe"
        [ngStyle]="{'left':5+'vw','top':4+'vh','width':90+'vw','height':90+'vh'}">
        <!-- [ngStyle]="{'left':posx+'px','top':posy+'px','height':height+'px','width':width+'px'}" -->

        <div class="windowbuttons">
          <img src="../../assets/logo_white.svg" alt="" srcset="" class="logo">
          <div class="buttns">
            <button class="minimise"></button>
            <button class="maximise"></button>
            <a routerLink="../../">
              <button class="close" (click)="closewindow()"></button>
            </a>
          </div>

        </div>
        <div class="navigation">
          <div class="navbuttons">
            <button class="back"></button>
            <button class="forward"></button>
          </div>
          <div class="addressbar">
            <p>desktop</p>
          </div>
        </div>
        <div class="wincontainer">
          <router-outlet></router-outlet>
        </div>
        <div class="footer"></div>
      </div>
    </div>
  </div>
  <div class="taskbar">
    <div class="homebutton"></div>
    <div class="apps"></div>
    <div class="time"></div>
  </div>
</div>
