.homescreen{
  width: 100%;
  height: 100vh;
  background-color: #b76565;
  margin: 0px;
  padding: 0px;
  // position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;

}

.homecontent{
  width: 100%;
  flex-grow: 1;
}
.taskbar{
  height: 37px;
  flex-shrink: 0;
  opacity: 80%;
  background-color: rgb(0, 0, 0);
  backdrop-filter: blur(40px);
  position: relative;
  box-sizing: border-box;
  display: flex;
  backdrop-filter: blur(20%);
}

.folderGrid
{
  // display: grid;
  display: flex;
  flex-direction: column;
  width :99px;
  padding: 30px;
  // grid-template-rows: 300px ;

}
$foldersize:69px;

.folder{
  // background-image: url("../../assets/folder_emptyc.svg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6px;
  width: $foldersize;
}


.folder img
{
  width: $foldersize;
}

.foldertxt{
  text-align: center;
}

window{
  position: absolute;
  height: 0px;
  top: 0px;
  left: 0px;
}
